*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.navbar{
    background-color: #fff;
    justify-content: space-between;
}


.nav-btn{

width: 130px;
height: 40px;
background-color: #4cAF50;
border-radius: 5px;
border: none;
color: #ffffff;

}

.nav-btn:hover{
    background-color:#114913 ;
    cursor: pointer;
}


.navbar-left{

}
.nav-mid{
    /* padding-left: 200px; */

}
/* #4cAF50 */
/* #333333 */
/* #f5f5f5 */


/* ----------------------------------------------------------sec1------------------------------ */
.sec1{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    background-color: #F5F5f5;

    display: flex;
    flex-wrap: wrap;
    padding: 100px 80px;
    justify-content: space-between;
}
.sec1-left{
width:600px ;
height: 100%;
padding-top: 40px;
padding-left: 40px;

}
.sec1-left-head1{
color: #333333;
font-size: 56px;

}
.sec1-left-head2{
    color:#4cAF50 ;
    font-size: 56px;
}

.sec1-left-para{
margin-top: 20px;
color: rgb(68, 64, 64);

}



.typewriter{
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  












.sec1-btn{
    background-color:#4cAF50 ;
    color: white;
    width: 110px;
    height: 40px;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
}

.sec1-btn:hover{
    background-color:#114913 ;
    cursor: pointer;

}

.sec1-right{
width: 500px;
height: 400px;
/* padding-top: 40px; */

}
.sec1-img{
    width: 80%;
    height: 90%;
}
/* ----------------------------------------------------------sec2------------------------------ */


/* .sec2{
    width: 100%;
    background-color: yellow;
    height: 100px;
    margin-bottom: 20px;
   
}

.sec2-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-inner-para{
    background-color: #4cAF50;
    display: flex;
    align-items: center;
    justify-content: center;
} */







.clients-section {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    padding: 20px;
    position: relative;
    background-color: white;
}

.clients-section::before,
.clients-section::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 2px;
}

.clients-section::before {
    top: 0;
}

.clients-section::after {
    bottom: 0;
}

.clients-section h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.clients-section p {
    font-size: 16px;
    color: #666;
    margin: 10px 0 0;
}







/* ----------------------------------------------------------sec3------------------------------ */

.sec3{
    display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    margin-bottom: 30px;
    justify-content: space-between;
}








/* ----------------------------------------------------------sec5------------------------------ */




/* .sec-5{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 300px;

}
.card{
    width: 300px;
height: 300px;
}

.card-img-top{
    width: 100px;
    height: 100px;

} */

.card-container {
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    border: none;
    padding: 20px;
    width: 320px;
    margin-bottom: 100px;
}



.card .icon {
    width: 50px;
    height: 50px;
    /* background-color: #ddd; */
    margin: 0 auto 10px auto;
    border-radius: 50%;
}

.card h2 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin: 10px 0;
}
.card p {
    font-size: 14px;
    color: #555;
}


/* ----------------------------------------------------------sec6------------------------------ */



.sec6{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.sec6-left{
    /* width: 40%; */
}
.sec6-img{
    width: 100%;
}

.sec6-right{
    /* width: 60%; */
}

/* sec7-left-start  */

/* ----------------------------------------------------------sec7------------------------------ */

.sec7{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* height: 38vh; */
    height: auto;
    /* background-color: yellow; */
    background-color: #F5f5f5;
    justify-content: space-around;
    padding: 30px 0px;
}
.sec7-left{
/* width: 50%; */
padding-top: 40px;
padding-left: 160px;
}

.sec7-left-head2{
    color: #4cAF50;
}



.sec7-right-top{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
}
.sec7-right-top1{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}
.sec7-head1{
    font-size: 32px;
}
.sec7-head2{
    font-size: 15px;
    color: rgb(100, 98, 98);
}

.sec7-right-top2{
    display: flex;
    flex-wrap: wrap;
}

.sec7-right-bottom{
    display: flex;
    flex-wrap: wrap;

}.sec7-right-bottom1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 20px;

}
.sec7-right-bottom2{
    display: flex;
    flex-wrap: wrap;

}

.pre-footer{
    background-color: #f5f5f5;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #263238;
    width: 100%;
    /* height: 47vh; */
    height: auto;
}

.footer-img{
   width: 240px; 
}



.footer-inner{
display: flex;
flex-wrap: wrap;
padding: 60px 140px;
/* justify-content: space-evenly; */
}
.foot1-head1{
    font-size: 12px;
    margin-top: 30px;
    color: white;
}

.foot1-head2{
    color: white;
    margin-top: 10px;
    font-size: 12px;


}
.footer2{
    padding-left: 160px;
}

.foot2-head1{
    color: white;
    font-size: 25px;
}

ul li{
    list-style: none;
    color: white;
    font-size: 13px;
}

.footer3{
    padding-left: 120px;
}

.foot3-head1{
    color: white;
    font-size: 25px;
}

.footer4{
    padding-left: 100px;
}

.footer-placeholder{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: #333333;
    border: none;
}







@media only screen and (max-width: 1420px){
    .footer-placeholder{
width: 150px;
    }

}










@media only screen and (max-width: 767px){

.footer2{
    padding-left: 0px;
}
.footer3{
    padding-left: 0px;
}
.footer4{
    padding-left: 0px;

}

.typewriter{
    font-size: 12px;
}

.sec7-left {
    /* width: 50%; */
    /* padding-top: 40px; */
    padding-left: 10px;
}

}





@media only screen and (max-width: 633px){
    .sec1-left-head1 {
        /* color: #333333; */
        font-size: 46px;
    }
    .sec1-left-head2 {
        /* color: #4cAF50; */
        font-size: 46px;
    }
    .typewriter{
        font-size: 8px;
    }

    .sec1-right {
        width: 400px;
        height: 300px;
        /* padding-top: 40px; */
    }
    .sec3-img{
        display: none;
    }

    .footer-img {
        width: 180px;
    }
    .footer-inner {
        padding: 50px 80px;
    }
    .foot2-head1 {
   
        font-size: 20px;
    }
    .foot3-head1 {
   
        font-size: 20px;
    }
}

    @media only screen and (max-width: 460px){
        .sec1{
            padding: 50px 30px;
        }
        .sec1-left-head1 {
            /* color: #333333; */
            font-size: 36px;
        }
        .sec1-left-head2 {
            /* color: #4cAF50; */
            font-size: 36px;
        }
        .typewriter{
           display: none;
        }
    
        .sec1-right {
            width: 300px;
            height: 200px;
            /* padding-top: 40px; */
        }


        .footer-img {
            width: 150px;
        }
.footer-placeholder{
    width: 200px;
    height: 30px;
}
}






@media only screen and (max-width: 240px){
    .typewriter{
        display: none;
    }
    .footer-placeholder{
        width: 100px;
        height: 20px;
    }


}






